.back__icon {
    position: relative;
    font-size: 1.2rem;
    right: 0px;
    padding-left: 15px;
    top: 45px;
}

.picture_top {
    border-radius: inherit;
    height: 285px;
    margin-top: 104px;
}

.container_menu {
    margin-top: -70px;
    border-radius: 50px 50px 0 0;
    background-color: #f6f6f6;
    position: relative;
    padding-bottom: 35px;
}

.restaurant_name_top {
    font-family: Shrikhand, "cursive";
    margin-left: 20px;
    padding-top: 30px;
    font-size: x-large;
    margin-bottom: 0px;
}

.top_like__icon {
    font-size: 1.5em;
    position: absolute;
    right: 30px;
    top: 35px;
}

.meal {
    display: grid;
    grid-gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 45px;
}

.food {
    cursor: pointer;
    border-radius: 1em;
    background-color: white;
    padding-left: 10px;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    position: relative;

    &:hover .price{
        animation-name: slideOutLeft;
        animation-duration: 1s;
        animation-fill-mode: both;
        display: block;
        }
        &:hover .icon_valid{
        animation-name: fadeInRight;
        animation-duration: 2s;
        animation-fill-mode: both;
        display: inline;
        }
}

.price {
    padding-right: 25px;
}

.icon_valid {
    position: absolute;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    right: 0px;
    padding: 0 13px;
    height: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    display: none;

    i {
        background: white;
        border-radius: 1em;
        padding: 6px;
        font-size: 15px;
        color: #99E2D0;
        animation: rotate 0.5s both;
        margin-top: 20px;
    }
}

.composition {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: smaller;
}

.entitled {
    margin-bottom: 0px;
}

.bottom_btn {
    @include button;
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 180px;
    justify-self: center;
    margin-top: 35px;
}

.meal_name {
    cursor: pointer;
    width: fit-content;
    margin: 0;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .container_menu {
        display: flex;
        padding-top: 80px;
    }

    .meal {
        width: 100%;
        ;
    }

    .entitled {
        font-size: 1em;
    }

    .restaurant_name_top {
        position: absolute;
        top: 0px;
        padding-top: 5px;
    }

    .top_like__icon {
        top: 25px;
        position: absolute;
        right: 40px;
        left: auto;
    }

    .food {
        height: fit-content;
    }

    .bottom_btn {
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0px;
        right: auto;
        border-radius: 0;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 10px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
}