.back__icon {
    position: relative;
    font-size: 1.2rem;
    right: 0px;
    padding-left: 15px;
    top: 45px;
    color: black;
}

.picture_top {
    border-radius: inherit;
    height: 285px;
    margin-top: 104px;
}

.container_menu {
    margin-top: -70px;
    border-radius: 50px 50px 0 0;
    background-color: #f6f6f6;
    position: relative;
    padding-bottom: 35px;
}

.restaurant_name_top {
    font-family: Shrikhand, "cursive";
    margin-left: 20px;
    padding-top: 30px;
    font-size: x-large;
    margin-bottom: 0px;
    margin-bottom: 40px;
    margin-right: 60px;
}

.top_like {
    font-size: 1.5em;
    position: absolute;
    right: 30px;
    top: 35px;
    height: fit-content;

    input {
        visibility: hidden;
    }
}

.meal {
    display: grid;
    grid-gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 45px;
}

.food {
    cursor: pointer;
    border-radius: 1em;
    background-color: white;
    padding-left: 10px;
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    white-space: nowrap;
    overflow: hidden;
    display: flex;

    &.delay-1 {
        animation-delay: 1000ms;
    }

    &.delay-2 {
        animation-delay: 1500ms;
    }

    &.delay-3 {
        animation-delay: 2000ms;
    }

    &.delay-4 {
        animation-delay: 2500ms;
    }

    .food_detail {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &:hover{
        .price {
            padding-right: 70px;
            transition: 0.5s ease;
        }

        .icon_valid {
            animation-name: slideOutLeft;
            animation-duration: 800ms;
            animation-fill-mode: both;
        }

        .menuItem__icon {
            transform: rotate(360deg);
        }
}
}

.menuItem__icon {
    transition-duration: 0.8s;
    background: white;
    border-radius: 1em;
    padding: 6px;
    font-size: 15px;
    color: #99E2D0;
    margin-top: 20px;
}

.txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    font-weight: bold;
    font-size: initial;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 8px;
    padding-right: 25px;

}

.icon_valid {
    background: #99E2D0;
    width: 60px;
    margin-right: -60px;
    text-align-last: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.composition {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: smaller;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entitled {
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom_btn {
    @include button;
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 60%;
    justify-self: center;
    margin-top: 35px;
}

.meal_name {
    cursor: pointer;
    width: fit-content;
    margin: 0;
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .picture_top {
        height: 400px;
    }

    .container_menu {
        margin-top: -50px;
        display: flex;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .meal_name {
        height: fit-content;
        margin-bottom: 10px;
    }

    .meal {
        width: 100%;
        position: relative;
        grid-gap: 25px;
    }

    .entitled {
        font-size: 1em;
    }

    .restaurant_name_top {
        position: absolute;
        top: 0px;
        padding-top: 5px;
    }

    .top_like__icon {
        top: 25px;
        position: absolute;
        right: 40px;
        left: auto;
    }

    .food {
        height: fit-content;
    }

    .bottom_btn {
        position: absolute;
        left: -100%;
        width: 95%;
        bottom: -80px;
        font-size: large;
    }
}