@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes load {
    0% {
        visibility: visible;
        opacity: 0.9;
    }

    70% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
        opacity: 1;
    }

    70% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes effect_click {
    50% {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }

    99% {
        transform: scale(0.001, 0.001);
        opacity: 0;
    }

    100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}

@keyframes heartanim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}