$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient:linear-gradient(to top left,$color-primary,$color-secondary);

@mixin police {
    font-family: Shrikhand,"cursive";
}
@mixin img_size {
    width: 335px;
    height: 175px;
}
@mixin button {
    padding: 10px;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    background:$color-gradient;
    text-decoration: none;
    @include box_shad;
}
@mixin box_shad {
    box-shadow: 2px 2px 11px -6px
}
